<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>~Hung</title>
    <link rel="stylesheet" type="text/css" href='/static/css/style.css'>
    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
</head>
<body>
<script type="text/x-template" id="item-template">
    <ul>
        <header class="header">
            <h1><a href="#" @click="update">home</a> / <a href="#/about" @click="update"> about</a></h1>
        </header>
        <li v-if="record.items" v-for="i in record.items">
            <a :href="'#' + i.url" class="commit" @click="update">{{ i.title }}</a>
            - <span class="message">{{ i.desc | truncate }}</span><br>
            <!--remove comment next line to put your name here, i just hate my username so I hardcode my name instead-->
            <!--by <span class="author">{{ i.author }}</span>-->
            by <span class="author"> Hung Nguyen </span>
            at <span class="date">{{ i.updateTime | formatDate }}</span> <br>


        </li>
        <div v-if="record.date">
            <a href="#" rel="no-refresh" class="commit">{{ record.title }}</a>

            - <span class="message">{{ record.desc }}</span>
            <span v-if="record.tags" v-for="tag in record.tags" >

                <a  :href="'#/tag/' + tag" class="highlight" @click="update">
                    {{ tag }}
                </a>
            </span>
            <br>
            <!--remove comment next line to put your name here, i just hate my username so I hardcode my name instead-->
            <!--<span class="author">Author: {{ record.author }}</span>-->
            <span class="author">Author: Hung Nguyen </span>
            at <span class="date">{{ record.date }}</span>
            <div class="content" v-html="record.content"></div>
        </div>
        <div v-else v-html="record.content"></div>

        <div class="info">
            <p>Written by <a href="http://github.com/whatvn">Hung Nguyen</a></p>
            <p>Source code on <a href="http://github.com/whatvn/tinyblog">github - tinyblog</a></p>
        </div>
    </ul>
</script>

<ul id="blog">
    <item :record="root">
        <!--content will be filled here-->
    </item>
</ul>

<script src="/static/js/index.js"></script>
</body>
</html>